@model UniqueMvc.Models.ApplicationUser


<h1 class="page-title">Details</h1>
<div class="student-details">
    <div class="student-details--container">
        <p class="student-details--label">Name:</p>
        <p class="student-details--info">@Model.Name</p>
    </div>
    <div class="student-details--container">
        <p class="student-details--label">Address:</p>
        <p class="student-details--info">@Model.HomeAddress</p>
    </div>
</div>
