<h1>Login Page</h1>


<div class="col-8">
    <form asp-action="Login" method="post">
        <div class="m-2">
            <label for="userName">Username</label>
            <input type="text" name="userName" value="" class="form-control" />
        </div>
        <div class="m-2">
            <label for="password">Password</label>
            <input type="password" name="password" value="" class="form-control" />
        </div>
        <button type="submit" class="btn-primary">Login</button>
    </form>
</div>


