<h1>Add New Student</h1>

<form action="/Auth/Register" method="post">
    <label>User Name</label>
    <input type="text" name="username" />
    <label>Password</label>
    <input type="password" name="password" id="password" />
    <label>First Name</label>
    <input type="text" name="name" />
    <label>Address</label>
    <textarea name="homeAddress"></textarea>
    <button type="submit">Submit</button>
</form>
